/*
 * override bootstrap
 */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', sans-serif;
}
.card {
	border: none;
	color: inherit;
}
.card:hover,
.card:focus {
	text-decoration: none;
}
.card-title {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

.text-grey {
	color: #999;
}
time {
	font-style: italic;
}

.header {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.header .nav-link {
	color: rgba(0, 0, 0, .3);
}
.header .nav-link:hover,
.header .nav-link:focus {
	color: rgba(0, 0, 0, .6);
}

.underline {
	position: relative;
}
.underline:after {
	position: absolute;
	content: "";
	height: 1px;
	background-color: #ccc;
	left: 0;
	width: 50px;
	top: 100%;
}

.summary {
	max-height: 6rem;
	line-height: 2;
	overflow: hidden;
	word-wrap: break-word;
}

aside .list-group-item:first-child {
	border-radius: 0;
}
aside .list-group-item:last-child {
	border-radius: 0;
	border-bottom: none;
}
aside .list-group-item {
	border-left: none;
	border-right: none;
}

footer.footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: #f2f2f2;
}

/* markdown styling */
.md h1,
.md h2,
.md h3,
.md h4 {
	color: #232323;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.md p {
	color: #999;
}
.md blockquote {
	padding: .5rem;
	margin-left: 1rem;
	border-left: 2px solid #999;
}
.md blockquote p {
	margin-bottom: 0;
}

/* syntax highlight */
.sublemon-keyword {
	opacity: .5;
}
.sublemon-name {
	color: #694017;
}
.sublemon-operator {
	opacity: .5;
}
.sublemon-regexp {
	color: #3380cc;
}
.sublemon-string,
.sublemon-template {
	color: #2d70b3;
}
.sublemon-number {
	color: #3380cc;
}
.sublemon-line-comment,
.sublemon-block-comment {
	opacity: .5;
	font-style: italic;
}
.sublemon-macro {
}
.sublemon-gutter {
	display: table-cell;
}
.sublemon-code {
	display: table-cell;
}
.sublemon-line-number {
	text-align: right;
	padding: 0 1em;
}
.sublemon-view-line {
	white-space: pre;
}
.sublemon-view-line.highlight {
	background-color: rgba(0,50,99,.1);
}
.sublemon-wrap-inner {
	display: table-row;
}
.sublemon-wrap {
	font-family: "Consolas", monospace;
	overflow: auto;
	max-width: 100%;
}
